<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.2">">

	<!-- Oncology Point of Care Properties -->
	<id>oncologypoc</id>
	<name>Oncology Point of Care</name>
	<version>1.0.0</version>
	<package>org.openmrs.module.oncologypoc</package>
	<author>MindFlow</author>
	<description>
		Added functionalities for the Oncology Program
	</description>

	<activator>org.openmrs.module.oncologypoc.OncologyPOCActivator</activator>

	<!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->

	<require_version>1.8.0</require_version>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>org.openmrs.module.oncologypoc.extension.html.PatientAbstractPatientDashBoardTabExt</class>
	</extension>
	
	<extension>
		<point>org.openmrs.module.oncologypoc.patientSchedules</point>
		<class>org.openmrs.module.oncologypoc.extension.html.ScheduledPatientsExt</class>
	</extension>
	
	<extension>
		<point>org.openmrs.clinicianAlertsPortlet</point>
		<class>org.openmrs.module.oncologypoc.extension.html.ClinicianAlertsExt</class>
	</extension>
	
	<!--  AOP advice points -->
	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>org.openmrs.module.oncologypoc.api.advice.EncounterAdvice</class>
	</advice>
	
	<!-- Require Global Properties -->
	<globalProperty>
		<property>concept.returnPurpose</property>
		<defaultValue></defaultValue>
		<description>
			Check that the return reason concept is set in the Global properties
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>concept.returnProvider</property>
		<defaultValue></defaultValue>
		<description>
			Check that the return provider concept is set in the Global properties
		</description>
	</globalProperty>
	
	<!-- Require Privileges -->
	<privilege>
		<name>OncologyPoc View Clinician Alerts</name>
		<description>
			Checks whether a provider has permission to view Oncology Alerts
		</description>
	</privilege>
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
		SubEncounter.hbm.xml
	</mappingFiles>
</module>

